.center{
    margin: 0 auto;
}

.text-big{
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 8px; 
    text-transform: uppercase;
}

@media screen and (max-width: 415px){
    .text-big{
        font-size: 25px;
    }
}